# Copyright (C) 2021 XXCoreRangerX <mail@xxcore.pl>
#
# Project:    PiHole Stats
# Repository: https://github.com/xxcorerangerx/piholestats
# License:    MIT

# +---------+
# + Scripts +
# +---------+
git.sh
